dt{
    font-weight: bold;
}
div {
    vertical-align: top;
    display: inline-block;
    border-top:solid 4px gray;
    border-left:solid 4px gray;
    border-right:solid 4px black;
    border-bottom:solid 4px black;
    margin: 10px;
    padding: 10px 30px 10px 30px;
    width: 250px;
    height: 400px;
}
div.contents {
    background-color: paleturquoise;
}
div#ootd {
    background-color: pink;
}
div#ootd dt {
    color: red;
    text-decoration: underline;
}
div#login_form {
    text-align: center;
    width: 500px;
    height: auto;
}
div#login_form input {
    display:block;
    margin: 3px;
}
p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}